/CurrencyStudent.class
/FibonacciSeries.class
/History.class
/MainMenue.class
/Mark.class
/MarkInterface.class
/Registration.class
/Report.class
/School.class
/Student.class
/StudentInterface.class
/SubMenue.class
/Subject.class
/factorialNumber.class
